[submodule "inveigh/inveigh"]
	path = inveigh/inveigh
	url = https://github.com/Kevin-Robertson/Inveigh.git
[submodule "Persistence/OutlookPersistence"]
	path = Persistence/OutlookPersistence
	url = https://github.com/Und3rf10w/OutlookPersistence.git
[submodule "Bloodhound/BloodHound"]
	path = Bloodhound/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound
